<mat-toolbar color="primary">
  <span>Business Customer Onboarding System</span>
  <span class="toolbar-spacer"></span>
  <button mat-button routerLink="/dashboard" routerLinkActive="active-link">
    Applicant Portal
  </button>
  <button mat-button routerLink="/processing" routerLinkActive="active-link">
    Processing Dashboard
  </button>

  <mat-icon
    *ngIf="latestApplication"
    matBadge="{{ latestApplication.length }}"
    matBadgeColor="accent"
    >notifications</mat-icon
  >
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
